
@charset "utf-8";



/*** 

====================================================================
    Reset
====================================================================

 ***/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;
}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
/*** 

====================================================================
    Global Settings
====================================================================

 ***/

.page-wrapper {
    position: relative;
    width: 100%;
    min-width: 300px;
    z-index: 9;
    margin: 0px auto;
    overflow: hidden;
}

body {
    font-size: 16px;
    color: #222;
    line-height: 1.7em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans Korean', 'Nanum Gothic', 'Open Sans', sans-serif;
    background: #f9f9f9;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: normal;
    line-height: 1.25em;
    margin: 0px;
    background: none;
}


button {
    outline: none !important;
    cursor: pointer;border:0;
}
input{border:0;}

.text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0px 0px 15px;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}



.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    z-index: 9;
    overflow: hidden;
}

.auto-container {
    position: static;
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.auto-container2 {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

figure {
    margin-bottom: 0;
}



img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.dropdown-toggle::after {
    display: none;
}





/*** 

====================================================================
    Scroll To Top style
====================================================================

***/

.scroll-to-top {
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 54px;
    height: 54px;
    color: #ffffff;
    font-size: 18px;
    line-height: 54px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    background: #25283a;
    border-radius: 50%;
    margin-left: -26px;
    display: none;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.scroll-to-top.style-two {
    background-color: #2d3247;
}

.scroll-to-top:hover {
    color: #ffffff;
}



/* Header Style */

.main-header {
    display: block;
    width: 100%;
   
    background: none;
    clear: both;
}

/* Header Upper */
.main-header .header-upper2 {text-align:center;padding:30px 0;}
.sidebar{padding:0 0 0 30px !important;}
.content-side{padding:15px;background:#fff;border:1px solid #e4e4e4;}

.pdr{padding-right:5px;}
.pdl{padding-left:5px;}
.pdt{margin-top:15px;}

.btitle{margin-top:15px;}
.btitle h1{font-size:16px;margin-top:5px;}
.btitle h2{font-size:16px;margin-top:5px;}
.btitle h3{font-size:13px;margin-top:5px;color:#666;}

.mid_banner{background:url(/new/mid_banner.webp)no-repeat center top;width:100%;padding:60px 15px;color:#fff;margin-bottom:5px;text-align:center;}
.mid_banner h1{color:#fff;font-size:28px;font-weight:500;}
.mid_banner h2{color:#fff;font-size:28px;font-weight:500;}
.mid_banner h3{color:#fff;font-size:15px;font-weight:500;}
.mid_banner span{color:#ff6666;}





@media only screen and (max-width: 1000px){
.sortable-masonry{padding-right:15px;padding-left:15px;}
}

@media only screen and (max-width: 768px){
.main-header .header-upper2 {text-align:center;padding:15px 0;}
.main-header .header-upper .logo-box .logo {padding: 15px 0px;}
.main-header .header-upper .logo-box {display: block !important;}

.main-header .header-upper2 {display:none;}
.sidebar{padding:25px 0 0 0 !important;}

.pdr{padding-right:0;}
.pdl{padding-left:0;}
.auto-container {padding: 0 15px;}
}



.main-header .header-upper {
    position: relative;background:#950712;border-top:1px solid #69060d;border-bottom:1px solid #69060d;
}

.main-header .header-upper .auto-container {
    max-width: 1170px;
    padding: 0;
}

.main-header .header-upper .inner-container {
    position: relative;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-header .header-upper .logo-box {
    z-index: 10;display: none;
}



.main-header .nav-outer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-header .nav-outer .search-toggler {
    position: relative;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    margin-left: 20px;margin-top:-2px;
}








.navbar-right-info .sidemenu-nav-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 44px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar-right-info .mobile-nav-toggler {
    position: relative;
    width: 50px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    background:#40070b;
}


/* Sticky Header */

.sticky-header {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    padding: 0px;
    background: rgb(255, 255, 255);
    -webkit-transition: top 300ms ease 0s;
    -o-transition: top 300ms ease 0s;
    transition: top 300ms ease 0s;
}

.sticky-header .main-menu .navigation {
    margin-top: 0;
}

.sticky-header .main-menu .navigation>li {
    border: 0;
}
.main-header .nav-outer .main-menu {
    position: relative;
}

.main-menu .navbar-collapse {
    padding: 0px;
    display: block !important;
}

.main-menu .navigation {
    position: relative;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-menu .navigation>li {
    position: relative;
    padding: 16px 30px 15px 30px;background:#c20b1a;border-left:1px solid #f15d68;height:55px;
    
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-menu .navigation>li:hover {
   background:#272727;height:55px;
}



.main-menu .navigation>li>a {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    opacity: 1;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}





.main-menu .navigation>li>ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 250px;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0px;
    border-top: 2px solid;
    background-color: #272727;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    transition: .5s;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation>li>ul>li {
    position: relative;
    width: 100%;
    padding: 0 30px;
}

.main-menu .navigation>li>ul>li:last-child {
    border-bottom: none;
}



.main-menu .navigation>li>ul>li>a {
    position: relative;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #41394f;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li:last-child>a {
    border-bottom: 0px;
}

.main-menu .navigation>li>ul>li.dropdown>a:after {
    content: "+";
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    z-index: 5;
}

.main-menu .navigation>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    z-index: 100;
    display: none;
    padding: 10px 0px;
    border-top: 2px solid;
    background-color: #272727;
    transition: .5s;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

.main-menu .navigation>li>ul>li>ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation>li>ul>li>ul>li {
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.main-menu .navigation>li>ul>li>ul>li:last-child {
    border-bottom: none;
}

.main-menu .navigation>li>ul>li>ul>li:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    display: block;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li>ul>li:hover:before {}

.main-menu .navigation>li>ul>li>ul>li:last-child {
    border-bottom: none;
}

.main-menu .navigation>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 12px 0;
    line-height: 24px;
    font-weight: 600;
    border-bottom: 1px solid #41394f;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li>ul>li:last-child>a {
    border-bottom: 0;
}

.main-menu .navigation>li>ul>li>ul>li.dropdown>a:after {
    font-family: 'Font Awesome 5 Pro';
    content: "\f105";
    position: absolute;
    right: 16px;
    top: 12px;
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 900;
    z-index: 5;
}

.main-menu .navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.main-menu .navigation li>ul>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
    display: none;
}



/*** 

====================================================================
    Search Popup
====================================================================

***/

.search-popup {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.90);
    -webkit-transform: translateY(101%);
    -ms-transform: translateY(101%);
    transform: translateY(101%);
    transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}

.search-popup.popup-visible {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
}

.search-popup .overlay-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
}

.search-popup .close-search {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
}

.search-popup .close-search:hover {
    opacity: 0.70;
}

.search-popup .search-form {
    position: relative;
    padding: 0px 15px 0px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.search-popup .search-form fieldset {
    position: relative;
    border: 7px solid rgba(255, 255, 255, 0.50);
    border-radius: 12px;
}

.search-popup .search-form fieldset input[type="search"] {
    position: relative;
    height: 70px;
    padding: 20px 220px 20px 30px;
    background: #ffffff;
    line-height: 30px;
    font-size: 24px;
    color: #233145;
    border-radius: 7px;
}

.search-popup .search-form fieldset input[type="submit"] {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    text-align: center;
    width: 220px;
    height: 70px;
    padding: 20px 10px 20px 10px;
    color: #ffffff !important;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px 7px 7px 0px;
}

.search-popup h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.search-popup .recent-searches {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.search-popup .recent-searches li {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.search-popup .recent-searches li a {
    display: block;
    line-height: 24px;
    border: 1px solid #ffffff;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search-popup .search-form fieldset input[type="search"]:focus {
    border-color: #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/*** 

====================================================================
                Sticky Header
====================================================================

***/

.sticky-header {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    z-index: -1;
    background: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    -webkit-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
}

.fixed-header .sticky-header {
    opacity: 1;
    z-index: 99901;
    visibility: visible;
}

.fixed-header .sticky-header .logo {
    padding: 17px 0px;
}

.sticky-header .main-menu .navigation>li {
    margin-left: 50px !important;
    padding: 0 !important;
    margin-right: 0;
    background-color: transparent;
}

.sticky-header .main-menu .navigation>li.dropdown>a:after,
.sticky-header .main-menu .navigation>li:before {
    display: none;
}

.sticky-header .main-menu .navigation>li>a {
    padding: 27px 0px !important;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #25283a;
    text-transform: capitalize;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* Header Top */
.header-top {
    position: relative;
    border-bottom: 1px solid #404049;
}

.header-top .text {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 15px 0;
}

.header-top .right-column {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}










/*** 

====================================================================
            Mobile Menu
====================================================================

***/

.nav-outer .mobile-nav-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 44px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    margin: 13px 0;
    margin-left: 15px;
    display: none;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
}

.mobile-menu .mCSB_scrollTools {
    right: -6px;
}

.mobile-menu .mCSB_inside>.mCSB_container {
    margin-right: 5px;
}

.mobile-menu .navbar-collapse {
    display: block !important;
}

.mobile-menu .nav-logo {
    position: relative;
    padding: 50px 25px 10px 25px;
    text-align: left;
    margin-bottom: 100px;
}

.mobile-menu-visible {
    overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
    opacity: 0.70;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #202020;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.mobile-menu .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    float: none;
}

.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.mobile-menu .navigation:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.mobile-menu .navigation li>ul>li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.mobile-menu .navigation li>a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.mobile-menu .navigation li ul li>a {
    font-size: 15px;
    margin-left: 20px;
    text-transform: capitalize;
}

.mobile-menu .navigation li>a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.mobile-menu .navigation li.current>a:before {
    height: 100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul {
    display: none;
}

.mobile-menu .social-links {
    position: relative;
    text-align: center;
    padding: 30px 25px;
}

.mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 10px 10px;
}

.mobile-menu .social-links li a {
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}



.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    width: 100%;
    display: none;
    background: rgba(255, 255, 255, 0.70);
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    cursor: none;
}

/* Cursor Style */

.cursor {
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -o-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: hidden;
}

.cursor {
    visibility: visible;
}

.cursor.active {
    opacity: 0.5;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.cursor.hovered {
    opacity: 0.08;
}

.cursor-follower {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -o-transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    visibility: hidden;
}

.cursor-follower {
    visibility: visible;
}

.cursor-follower.active {
    opacity: 0.7;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cursor-follower.hovered {
    opacity: 0.08;
}

.cursor-follower.close-cursor:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 2px;
    background: #fff;
    left: 48%;
    top: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
}

.cursor-follower.close-cursor:after {
    position: absolute;
    content: '';
    height: 25px;
    width: 2px;
    background: #fff;
    right: 48%;
    top: 12px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





/* Main Footer */



.footer-bottom {
    position: relative;
    text-align: center;
    text-align:center;padding:30px 0;background:#222;font-size:13px;
}

.footer-bottom .copyright {font-size:13px;
    color: #fa5c68;
}

.footer-bottom .copyright a {
    color: #fff;
}



/* Gallery Section */

.gallery-section {
    position: relative;
}

.gallery-section .auto-container {
    max-width: 100%;
    padding: 0;
}

.gallery-block .inner-box {
    position: relative;padding-bottom:10px;
}

.gallery-block .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-block .inner-box:hover .overlay {
    opacity: .70;
}

.gallery-block .zoom-btn {
    position: relative;
    font-size: 17px;
    color: #fff;
    z-index: 9;
    display: inline-block;
    line-height: 60px;
}

.gallery-block .zoom-btn2 {
    position: relative;
    font-size: 60px;
    color: #fff;
    z-index: 9;
    display: inline-block;
    line-height: 60px;
}

.gallery-block .border-one {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transition: .5s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
}

.gallery-block .inner-box:hover .border-one {
    transform: scaleX(1);
}

.gallery-block .border-two {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transition: .5s;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scaleY(0);
}

.gallery-block .inner-box:hover .border-two {
    transform: scaleY(1);
}





/* Portfolio Section */

.portfolio-section {
    position: relative;
    padding: 20px 0 10px 0;
}

.portfolio-section .gallery-block .inner-box {
    margin-bottom: 0;
}

.portfolio-section .auto-container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

/* Blog Page */
.sidebar-page-container {
    position: relative;
    padding: 20px 0 40px 0;
}





/* Blog Single Post */

.blog-single-post .inner-box {
    position: relative;
    margin-bottom: 80px;
}
.sidebar-page-container .related-post {
    margin-bottom: 50px;
}





@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (max-width: 1400px){
	.header-style-one .navbar-right-info {
		display: none;
	}
	.main-header .header-upper .auto-container {
		padding: 0 15px;
	}
	.main-menu .navigation>li:nth-last-child(-n+3)>ul>li>ul {
	    left: auto;
	    right: 100%;
	}
	.main-menu .navigation > li:nth-last-child(-n+2) > ul {
	    left: auto;
	    right: 0;
	}
	.main-menu .navigation > li:nth-last-child(-n+2) > ul > li > ul {
	    left: auto;
	    right: 100%;
	}
}

@media only screen and (max-width: 1199px){
	.main-header .header-upper .auto-container {
		padding: 0 15px;
	}
	.main-header.header-style-three .navbar-right-info {
		display: none;
	}

}

@media only screen and (max-width: 1139px){
	
	.main-header.header-style-two .sidemenu-nav-toggler,
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
	}

}



@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){	
	.contact-section .contact-info-two .content {padding-left: 0;}
	
	br {display: none;}
	}

@media only screen and (max-width: 575px){
	.news-block-five .content,
	.news-block-four .content,
	.blog-single-post .content {
		padding-left: 25px;
		padding-right: 25px;
	}
			
	.main-header .nav-outer .search-toggler {
		display: none;
	}
	
}


@media only screen and (max-width: 350px) {
	.main-header .header-upper .logo-box .logo {
		max-width: 150px;
	}
}


/* Color */
.main-menu .navigation>li>ul>li>ul>li>a:hover,
.widget_popular_post .content h5 a:hover,
.main-header .header-upper .icon-box .icon,
.main-menu .navigation>li>ul>li>a:hover,
a:hover,
a {
	color: #333;
}

/* Border Color */
.btn-style-two,
.border-color {
	border-color: #333;
}

/* Background */

.search-popup .search-form fieldset input[type="submit"],
.sidebar-page-container .inner-title:before,
.blog-single-post .list li:before,
.blog-single-post .content .wrapper-box:before,
.blog-single-post .date,
.main-menu .navigation>li.current>a:before,
.mobile-menu .menu-backdrop,
.gallery-block .overlay,
.hidden-sidebar .newsletter-widget .theme-btn,
.btn-style-two:before,
.btn-style-one,
.preloader-close,
.theme-bg {
    background-color: #333;
}

.gallery-block .overlay{background-color: #000;}

.cl_b{clear:both;padding:0;margin:0;}
.ms_logo{height:64px;}
.ms_logo .ims{display: inline-block;width:62px;margin-right:5px;}
.ms_logo .tx{display: inline-block;line-height:21px;margin-top:15px;color:#f24250;font-size:28px;font-weight:bold;letter-spacing:-0.02em;}
.ms_logo .tx p{margin:0 !important;padding:0 !important;color:#666;font-size:12px;font-weight:400;letter-spacing:0em;}


.ms_logo2{height:64px;}
.ms_logo2 .ims{display: inline-block;width:62px;margin-right:5px;}
.ms_logo2 .tx{display: inline-block;line-height:19px;margin-top:15px;color:#fff;font-size:28px;font-weight:bold;letter-spacing:-0.02em;}
.ms_logo2 .tx p{margin:0 !important;padding:0 !important;color:#fc9292;font-size:12px;letter-spacing:0em;font-weight:400;}


.googlese{width:100%;padding:5px 10px 5px 30px;font-size:13px;background:url(/new/google.png)no-repeat left center;box-shadow: 1px 1px 1px;font-family:'Nanum Gothic';height:40px;}

.cols_8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.cols_4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.cols_6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.cols_12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}

@media only screen and (max-width: 768px){
.cols_8{padding:0 15px;}
.cols_4{padding:0 15px;}
.cols_6{padding:0 15px;}
.cols_12{padding:0 15px;}
}

.tbody{white-space:normal;word-break: break-all;text-overflow: clip;}
.tbody p{white-space:normal;word-break: break-all;text-overflow: clip;}
.tbody img{width:100% !important;height:100% !important;}
.gab2{height:20px;}
.article_summury{padding:20px 0;}
.article_summury h1{margin:40px 0 20px 0;font-size:17px;color:#215aa7;}
.red{color:#cd3a4b;}
.article_box{margin-top:15px;}
.article_box a{color:#ff0000;font-weight:bold;}

/* 빨강 */
.tbl_type1 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type1 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#df4759;border-right:1px solid #f78e9b;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type1 table tr th:last-child {border-right:0;}
.tbl_type1 table tr td {overflow: hidden;padding:10px 10px;text-align:left;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type1 table tr td.tc{text-align:center;}
.tbl_type1 table tr td span{color:#df4759;font-weight:400;font-size:16px;}


/* 주황 */
.tbl_type2 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type2 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#eb6100;border-right:1px solid #f49857;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type2 table tr th:last-child {border-right:0;}
.tbl_type2 table tr td {overflow: hidden;padding:10px 10px;text-align:left;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type2 table tr td.tc{text-align:center;}
.tbl_type2 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 노랑 */
.tbl_type3 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type3 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#fff100;border-right:1px solid #d6cb0c;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#000;}
.tbl_type3 table tr th:last-child {border-right:0;}
.tbl_type3 table tr td {overflow: hidden;padding:10px 10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type3 table tr td.tc{text-align:center;}
.tbl_type3 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 초록 */
.tbl_type4 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type4 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#4ec051;border-right:1px solid #38a43b;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type4 table tr th:last-child {border-right:0;}
.tbl_type4 table tr td {overflow: hidden;padding:10px 10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type4 table tr td.tc{text-align:center;}
.tbl_type4 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 파랑 */
.tbl_type5 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type5 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#356fbd;border-right:1px solid #23569a;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type5 table tr th:last-child {border-right:0;}
.tbl_type5 table tr td {overflow: hidden;padding:10px 10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type5 table tr td.tc{text-align:center;}
.tbl_type5 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 남색 */
.tbl_type6 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type6 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#153b63;border-right:1px solid #31669b;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type6 table tr th:last-child {border-right:0;}
.tbl_type6 table tr td {overflow: hidden;padding:10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type6 table tr td.tc{text-align:center;}
.tbl_type6 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 보라 */
.tbl_type7 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type7 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#601986;border-right:1px solid #7c28a9;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type7 table tr th:last-child {border-right:0;}
.tbl_type7 table tr td {overflow: hidden;padding:10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type7 table tr td.tc{text-align:center;}
.tbl_type7 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 파스텔 */
.tbl_type8 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type8 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#06b1a6;border-right:1px solid #08978e;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type8 table tr th:last-child {border-right:0;}
.tbl_type8 table tr td {overflow: hidden;padding:10px;text-align:center;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type8 table tr td.tc{text-align:center;}
.tbl_type8 table tr td span{color:#df4759;font-weight:400;font-size:16px;}

/* 검은색 */
.tbl_type9 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type9 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#222;border-right:1px solid #999;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#fff;}
.tbl_type9 table tr th:last-child {border-right:0;}
.tbl_type9 table tr td {overflow: hidden;padding:10px 20px;text-align:left;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type9 table tr td.tc{text-align:center;}
.tbl_type9 table tr td span{color:#df4759;font-weight:400;font-size:16px;}


/* 회색 */
.tbl_type10 table {width:100%;border-collapse:collapse;margin-bottom:20px;}
.tbl_type10 table tr th {font-size:15px; word-wrap: break-word; overflow: hidden; padding:10px 0;letter-spacing:-0.02em;height:35px;background-color:#dadcdc;border-right:1px solid #c0c2c2;font-family:"Noto Sans Korean";font-weight:400;text-align:center;color:#222;}
.tbl_type10 table tr th:last-child {border-right:0;}
.tbl_type10 table tr td {overflow: hidden;padding:10px 20px;text-align:left;border:1px solid #e4e4e4;font-weight:400;font-size:15px;color:#555;}
.tbl_type10 table tr td.tc{text-align:center;}
.tbl_type10 table tr td span{color:#df4759;font-weight:400;font-size:16px;}


/* 한칸 박스 */
.box{padding:20px;border:1px solid #999;font-size:13px;margin:30px 0 20px 0;}
